body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-colour;
}
.row{
  margin-bottom: 2em;
}
.jumbotron{
  background-color: $light-card-background;
  padding: 2rem 1rem;
}
.search-input{
  border: 1px solid #344050;
  background-color: $light-card-background;
  color: $primary-color;
  &:focus{
    background-color: $focus-form-background;
    color: $primary-color;
  }
}
.react-datepicker-wrapper{
  width: 100%;
  .datePickerForm{
    border: 1px solid #344050;
    background-color: $light-card-background;
    color: $primary-color;
    border-radius: 50rem;
    &:focus{
      background-color: $focus-form-background;
      color: $primary-color;
    }
  }
}
.active.carousel-item, .carousel-item-next,
.carousel-item-prev {
  height: 25.4em;
  img{
    border-radius: 0.3rem;
    filter: brightness(35%);
  }
}
.highcharts-container{
  border-radius: 0.3rem;
}
.outstandingShare {
  text-align: center;
  font-size: xx-large;
}
.outstandingShareTitle {
  text-align: center;
  padding: 4em 0 0 0;
}